venv
.env

node_modules
.DS_Store
__pycache__
instructions.md
*.pyc
*.pyo
*.pyd
*.sqlite3
.claude
*.log
.idea
.vscode
instructions.txt
*.egg-info
dist
build
.coverage
BACKLOG.md
htmlcov
.tox
.pytest_cache
.mypy_cache
.pyre_check
